
input[type=text]{
   padding: 0px 0px;
   
}
.sm-pad{
    padding-left: 15px;
}
.col-xs-6{
    padding-left: 0px;
    padding-right: 0px;
}
.xs-pad{
    padding: 0px 0px;
}
.form-control{
    height: 24px;
}
#pad{
    width: 100%;
    background-color:rgba(50, 50, 50, 0.8);
}
.neipad{
   margin: 20px auto;
}